@using BadBeeCatalog.Models;
@using BadBee.Core.DAL;
@using BadBee.Core.MyResources;
@model DetailsModel

@{
    ViewBag.Title = @Resources.details;
}

<div style="margin-bottom:0px;">
    <div style="position:relative;">
       

      
    </div>
</div>