@using BadBee.Core.MyResources;
<nav class="navbar navbar-default">
    <div class="container nav-container">
        <div class="navbar-header">
            <div class="navbar-left">
                <a class="navbar-brand" title="BadBee"> <img class="logo img-responsive" src="~/Image/BadBeeLogo.png" alt="BadBee"> </a>
            </div>
            <div class="navbar-right">
                    <div class="search1" style="position:relative;">
                        <input id="search_inp" type="text" placeholder="@Resources.search" />
                        <button type="button" id="search_btn" class="search" onclick="typePhrase('#search_inp', '#search_btn')">@Resources.searchbtn</button>
                        <div id="keywordsContainer" style="position:absolute;background-color:#dcdcdc;top:45px;left:0;width:250px;z-index:500;border-radius:3px;">
                            
                        </div>
                    </div>
                <div class="languages">
                    <span class="polish">
                        <label class="pol_h">
                            <a href="@Url.Action("ChangeCulture", "Search", new { lang = "pl", returnUrl = Request.RawUrl })" title="Polski (Polish)">PL</a>
                        </label>
                    </span>
                    <span class="english">
                        <label class="eng_h">
                            <a href="@Url.Action("ChangeCulture", "Search", new { lang = "en", returnUrl = Request.RawUrl })" title="English (English)">EN</a>
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>
